$font:  'MS Sans Serif';
$color-fondo: #008080;
$color-letra:  #e7fbfb;
$color-modal: #C0C0C0;
$border: #FFFFFF #808080 #808080 #FFFFFF;
$title-color: #000080;
$color-titulo: #FFF;
$buscador-border:  2px inset #d5d5d5;
$color-buscador: #424242;
$color-fondo-buscador: #828282;
$color-letra-modal:#000;
