*{
  padding:0px;
  margin:0px;
  font-family: $font;

}

body{
  background:$color-fondo;

}

h1{
  color: $color-letra;
  font-size: 30px;
  font-weight: 100;
  margin-left: 900px;
  margin-top: 20px;
}

div.body{
  padding:13px 12px 12px;
  height:100%;
  width:calc(100% - 26px);
  display:inline-block;
}

button:focus{
  outline:none;
}

#paises{
  color:$color-letra-modal;
  text-align: center;
  line-height: 23px;
  cursor: pointer;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 5px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-right-color: #424242;
  border-bottom-color: #424242;
  background: silver;
  color: black;
  padding: 0 0 4px;
  border-radius: 1px;
  display: block;


}

#paises:hover{
  color: $color-letra-modal;
  text-decoration: underline;
  cursor: pointer;
}

.modal{
  display: none;
}

.box{
  width:500px;
  height: 500px;
  margin: 0 auto;
  background:$color-modal;
  border-width:1px;
  border-color:$border;
  border-style:solid;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:1px;
}

#opacidad{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

div.title{
  height:20px;
  width:100%;
  background:$title-color;
  color:$color-titulo;
}

#imagen{
  width: 200px;
  height: 100px;
  padding-left: 155px;
  padding-top: 30px;
  padding-bottom: 10px;
}

#logo{
  float:left;
  width: 25px;
  height: 20px ;
  padding-right: 10px;
}

p.title{
  margin:4px 0 0 1px;
  float:left;
  font-family:Tahoma;
  font-weight:bold;
  font-size:11px;
}


.title button{
  margin:4px 2px 2px 0;
  float:right;
  width:14px;
  height:13.5px;
  background:$color-modal;
  border-width:1px;
  border-color:$border;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
}

div.body p{
  font-size:9px;


}

.search{
  margin-left: 200px;
  width: 200px;
  height: 30px;
  border: 2px inset $buscador-border;
  color:$color-buscador;
  background: $color-titulo;
  box-shadow: -1px -1px 0 0 $color-fondo-buscador;
}


#detalles p {
  font-size: 14px;
  color:$color-letra-modal;
  text-align: justify;
  line-height: 30px;
  padding-left: 20px;
}

